# Prática - Modulo 1 - IGTI - Data Engineering

### Autor: Thomaz Antonio Rossito Neto                                        
### LinkedIn: [clique aqui](https://www.linkedin.com/in/thomaz-antonio-rossito-neto/)

<img src="https://notiserrasc.com.br/wp-content/uploads/2019/10/enem2019-680x350.jpg">

## - Parte 2: Data_Exploratory

#### - Observação: Toda explicação sobre o projeto, pode ser encontrado no arquivo (01-Extract.ipynb) - Parte 1: Extract

## - Inínio do Trabalho

### 1. Carregando as bibliotecas

In [1]:
import pandas as pd
import numpy as np
import os

### 2. Carregando o dataset com o pandas

#### - O arquivo com alunos de MG contém 336.8MB

In [2]:
# Carregando o dataset com (read_csv) do pandas
df_enem_mg = pd.read_csv('enem2019/DADOS/MICRODADOS_ENEM_MG_2019.csv', sep=';', encoding='latin-1')

# Visualizando o shape do dataset (100 linhas x 136 colunas)
print("shape: ", df_enem_mg.shape)

print()
# Verificando os tipos de dados
df_enem_mg.info()
print()

# Visualizando as primeiras linhas do dataset
df_enem_mg.head()

shape:  (538896, 136)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538896 entries, 0 to 538895
Columns: 136 entries, NU_INSCRICAO to Q025
dtypes: float64(24), int64(71), object(41)
memory usage: 559.2+ MB

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001005671,2019,3170206,Uberlândia,31,MG,21,M,1,1,...,B,A,A,D,A,A,D,B,B,B
1,190001009861,2019,3111705,Canaã,31,MG,20,M,1,1,...,A,A,A,B,A,A,C,A,A,A
2,190001021622,2019,3104007,Araxá,31,MG,24,M,1,2,...,A,A,A,C,B,A,C,A,A,B
3,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,1,1,...,B,A,B,B,A,A,D,A,D,B
4,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,1,3,...,A,A,A,B,B,A,C,A,B,A

### 3. Respondendo algumas questões

> ### Qual é a média da nota em matemática de todos os alunos mineiros?

In [3]:
# Criando um objeto
nota_matematica = df_enem_mg['NU_NOTA_MT']

In [4]:
# pandas
print("A média da nota é: {}" .format(round(nota_matematica.mean(),1)))

A média da nota é: 546.8

In [5]:
# numpy
print("A média da nota é: {}" .format(np.mean(nota_matematica)))

A média da nota é: 546.7962076512125

> ### Qual é a média da nota de Linguagens e Códigos de todos os alunos mineiros?

In [7]:
# Criando um objeto
nota_linguagem_codigos = df_enem_mg['NU_NOTA_LC']

In [8]:
# pandas
print("A média da nota é: {}" .format(nota_linguagem_codigos.mean()))

A média da nota é: 531.2155500475544

In [9]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_linguagem_codigos),1)))

A média da nota é: 531.2

> ### Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO mineiros?

In [10]:
# Criando um objeto
nota_ch_f = df_enem_mg.loc[(df_enem_mg.TP_SEXO == 'F'),
                           'NU_NOTA_CH']

In [11]:
# pandas
print("A média da nota é: {}" .format(nota_ch_f.mean()))

A média da nota é: 515.1270983575349

In [12]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_ch_f),1)))

A média da nota é: 515.1

> ### Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO?

In [13]:
# Criando um objeto
nota_ch_m = df_enem_mg.loc[(df_enem_mg.TP_SEXO == 'M'),
                           'NU_NOTA_CH']

In [14]:
# pandas
print("A média da nota é: {}" .format(nota_ch_m.mean()))

A média da nota é: 529.6982704731574

In [15]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_ch_m),1)))

A média da nota é: 529.7

> ### Qual é a média da nota em matemática dos alunos do sexo FEMININO que moram na cidade de Montes Claros?

In [16]:
# Criando um objeto
nota_mt_mc_f =  df_enem_mg.loc[(df_enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Montes Claros') &
                               (df_enem_mg.TP_SEXO == 'F'),
                               'NU_NOTA_MT']

In [17]:
# pandas
print("A média da nota é: {}" .format(nota_mt_mc_f.mean()))

A média da nota é: 525.4776724249901

In [18]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_mt_mc_f),1)))

A média da nota é: 525.5

> ### Qual é a média da nota em Matemática dos alunos do município de Sabará que possuem TV por assinatura na residência?

In [19]:
# Criando um objeto
nota_mt_sabara_tv =  df_enem_mg.loc[(df_enem_mg.NO_MUNICIPIO_RESIDENCIA == 'Sabará') &
                                    (df_enem_mg.Q021 == 'B'),
                                     'NU_NOTA_MT']

In [20]:
# pandas
print("A média da nota é: {}" .format(nota_mt_sabara_tv.mean()))

A média da nota é: 543.2927556818183

In [21]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_mt_sabara_tv),1)))

A média da nota é: 543.3

> ### Qual é a média da nota em Ciências Humanas dos alunos mineiros que possuem dois fornos de micro-ondas em casa?

In [22]:
# Criando um objeto
nota_ch_dois_fornos =  df_enem_mg.loc[(df_enem_mg.Q016 == 'C'),
                                      'NU_NOTA_CH']

In [23]:
# pandas
print("A média da nota é: {}" .format(nota_ch_dois_fornos.mean()))

A média da nota é: 557.2765986394558

In [24]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_ch_dois_fornos),1)))

A média da nota é: 557.3

> ### Qual é a nota média em Matemática dos alunos mineiros cuja mãe completou a pós-graduação?

In [25]:
# Criando um objeto
nota_mt_mae_com_pos =  df_enem_mg.loc[(df_enem_mg.Q002 == 'G'),
                                      'NU_NOTA_MT']

In [26]:
# pandas
print("A média da nota é: {}" .format(nota_mt_mae_com_pos.mean()))

A média da nota é: 620.007062070985

In [27]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_mt_mae_com_pos),1)))

A média da nota é: 620.0

> ### Qual é a nota média em Matemática dos alunos de Belo Horizonte e de Conselheiro Lafaiete?

In [28]:
# Criando um objeto
nota_mt_bh_cl =  df_enem_mg.loc[(df_enem_mg.NO_MUNICIPIO_RESIDENCIA.isin(['Conselheiro Lafaiete',
                                                                          'Belo Horizonte'])
                                ),
                                'NU_NOTA_MT']

In [29]:
# pandas
print("A média da nota é: {}" .format(nota_mt_bh_cl.mean()))

A média da nota é: 578.0392265100068

In [30]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_mt_bh_cl),1)))

A média da nota é: 578.0

> ### Qual é a nota média em Ciências Humanas dos alunos mineiros que moram sozinhos?

In [31]:
# Criando um objeto
nota_ch_moram_sozinhos =  df_enem_mg.loc[(df_enem_mg.Q005 == 1),
                                          'NU_NOTA_CH']

In [32]:
# pandas
print("A média da nota é: {}" .format(nota_ch_moram_sozinhos.mean()))

A média da nota é: 534.4573388609205

In [33]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_ch_moram_sozinhos),1)))

A média da nota é: 534.5

> ### Qual é a nota média em Ciências Humanas dos alunos mineiros cujo pai completou Pós Graduação e possuem renda familiar entre `R$ 8.982,01` e R$ `9.980,00`

In [34]:
# Criando um objeto
nota_ch_pai_com_pos_renda =  df_enem_mg.loc[(df_enem_mg.Q001 == 'G') &
                                            (df_enem_mg.Q006 == 'M'),
                                            'NU_NOTA_CH']

In [35]:
# pandas
print("A média da nota é: {}" .format(nota_ch_pai_com_pos_renda.mean()))

A média da nota é: 586.7231663685159

In [36]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_ch_pai_com_pos_renda),1)))

A média da nota é: 586.7

## Os demais códigos utilizarei "`query`" para mostrar uma outra forma de obter resultados

> ### Qual é a nota média em Matemática dos alunos do sexo FEMININO que moram em Lavras e escolheram "Espanhol" como língua estrangeira?

In [38]:
nota_mt_f_lavras = df_enem_mg.query("TP_SEXO == 'F' and \
                                     NO_MUNICIPIO_RESIDENCIA == 'Lavras' and \
                                     TP_LINGUA == 1") \
                                   ['NU_NOTA_MT']

In [39]:
# pandas
print("A média da nota é: {}" .format(nota_mt_f_lavras.mean()))

A média da nota é: 510.80950782997775

In [40]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nota_mt_f_lavras),1)))

A média da nota é: 510.8

> ### Qual é a nota média em Matemática dos alunos do sexo Masculino que moram em Ouro Preto?

In [41]:
nt_mt_m_op = df_enem_mg.query("TP_SEXO == 'M' and NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto'")['NU_NOTA_MT']

In [42]:
# pandas
print("A média da nota é: {}" .format(nt_mt_m_op.mean()))

A média da nota é: 555.0832520325198

In [43]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nt_mt_m_op),1)))

A média da nota é: 555.1

> ### Qual é a nota média em Ciências Humanas dos alunos surdos?

In [44]:
nt_ch_surdos = df_enem_mg.query("IN_SURDEZ == 1")['NU_NOTA_CH']

In [45]:
# pandas
print("A média da nota é: {}" .format(nt_ch_surdos.mean()))

A média da nota é: 435.38796296296283

In [46]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nt_ch_surdos),1)))

A média da nota é: 435.4

> ### Qual é a nota média em Matemática dos alunos do sexo FEMININO que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?

In [47]:
nt_f_diversas_cidades = df_enem_mg.query("TP_SEXO == 'F' and \
                                          NO_MUNICIPIO_RESIDENCIA in ('Belo Horizonte', \
                                                                      'Sabará', \
                                                                      'Nova Lima', \
                                                                      'Betim') and \
                                          IN_DISLEXIA == 1") \
                                         ['NU_NOTA_MT']

In [48]:
# pandas
print("A média da nota é: {}" .format(nt_f_diversas_cidades.mean()))

A média da nota é: 582.1935483870968

In [49]:
# numpy
print("A média da nota é: {}" .format(round(np.mean(nt_f_diversas_cidades),1)))

A média da nota é: 582.2

## Continua...
### Próximo arquivo (03-Load_MySQL.ipynb)

# FIM...
### WebSite Pessoal: [thomazrossito](https://www.thomazrossito.com.br)